$black: #30292F;
$blue: #1768AC;
$dark-gray: rgba(255, 255, 255, 0.7);
$gray: #fafafa;
$orange: #F7931A;
$turquoise: #076572;

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 646px;
  position: relative;
}

.header {
  background: url(../img/header-left.png) bottom left no-repeat, url(../img/header-right.png) bottom left no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  
  .container {
    height: 1150px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  &__logo-container {
    margin-left: 60px;
  }

  &__logo {
    height: 32px;
    margin: 2px 0 0 9px;
    width: 59px;
  }

  &__logo-title {
    font-weight: 800;
    font-size: 24px;
    margin: -7px 0 0;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-right: 75px;
    letter-spacing: 0px;
    width: 393px;
  }

  &__item {
    list-style-type: none;
    margin: 3px;
  }

  &__link-item {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
  }

  &__title {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin: 100px 0 0;
    padding: 0 60px;
  }

  &__text {
    box-sizing: border-box;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 68px;
    margin: 30px 0;
    padding: 0 60px;
    width: 780px;
  }

  &__image {
    bottom: 132px;
    max-width: 1114px;
    position: absolute;
    right: 0;
    width: 85%;
  }

  &__background-image {
    position: absolute;
  }

  &__image-right-bottom {
    bottom: -107px;
    position: absolute;
    right: 0;
  }

}

.description {

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin: 13px 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    letter-spacing: 0.55px;
    line-height: 34px;
    margin: 45px auto;
    max-width: 1180px;
    padding: 20px;
    text-align: center;
  }

}

.feature {
  position: relative;

  &__text-container {
    position: relative;
    width: 530px;
  }

  &__title {
    color: $turquoise;
    font-size: 45px;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 0;
    position: relative;
  }

  &__text {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 33px;
    margin-top: 8px;
    width: 500px;
  }

  &__link {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    text-decoration: none;;
  }

  &__link-image {
    fill: #1991EB;
    height: 20px;
    margin: 10px 0 -2px 4px;
    transition-duration: 0.3s;
    width: 19px;
  }

  .feature__link:hover .feature__link-image{
    fill: $orange;
  }

}

.feature--left {

  .container {
    background: url(../img/bitmap.png) no-repeat right 115px top 246px, url(../img/active-users.png) no-repeat right 360px top 122px, url(../img/dots.png) no-repeat 100px 212px;
    margin-bottom: -30px;
  }

  .feature__text-container {
    left: 160px;
    top: 220px;
  }

  .feature__link {
    top: 93px;
  }

}

.feature--right {
  background-color: $gray;

  .container {
    background: url(../img/graphic.png) no-repeat 150px 126px, url(../img/dots.png) no-repeat 118px 72px;
  }

  .feature__text-container {
    margin: 0;
    left: 51.8%;
    top: 127px;
  }

  .feature__title {
    line-height: 62px;
  }

  .feature__link {
    top: 20px;
  }

}

.feature--center {
  background: url(../img/leftb.png) no-repeat 0 -180px;

  .container {
    background: url(../img/purse.png) no-repeat right 150px top 87px, url(../img/dots.png) no-repeat 528px 134px;
  }

  .feature__text-container {
    left: 140px;
    top: 130px;
  }

  .feature__title {
    line-height: 63px;
  }

  .feature__text {
    letter-spacing: 0.1px;
    margin-top: 15px;
  }

  .feature__link {
    top: 75px;
  }

}

.feature--gray {
  background-color: $gray;
  box-sizing: border-box;
  padding: 65px 0;
}

.table {
  background-color: #fff;
  border-collapse: collapse;
  font-family: "Helvetica Neue", sans-serif;
  margin: auto;

  &__cell {
    box-sizing: border-box;
    border-bottom: 2px solid $gray;
    padding: 25px 20px 50px;
    text-align: left;
  }

  .table__cell:first-child {
    padding-right: 0;
    width: 128px;
  }

}

.table__header-row {
  border: 4px solid $gray;

  .table__cell {
    padding: 13px 20px;
    width: 320px;    
  }

}

.footer {
  background-color: $black;
  color: $dark-gray;

  &__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    width: 80%;
  }

  &__line {
    border: 1px solid rgba(218, 218, 218, 0.43);
    margin: auto;
    max-width: 1200px;
    width: 80%;
  }

  &__link-container {
    margin: 19px 0 35px;
  }

  &__link {
    color: $dark-gray;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
  }

  &__link:first-child {
    margin-right: 27px;
  }

  &__link--large {
    font-size: 18px;
  }

  &__link--large:first-child {
    margin-right: 17px;
  }

}

.contacts {
  margin: 65px 0 30px;

  &__link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__title {
    color: $dark-gray;
    font-size: 18px;
    margin: 0;
    text-decoration: none;
  }

  &__link-image {
    fill: #fff;
    transition-duration: 0.3s;
  }

  &__link-image:hover {
    fill: $orange; 
  }

}

.form {

  &__text {
    font-style: italic;
    font-weight: 700;
    margin-top: 30px;
  }

  &__input {
    border: none;
    border-radius: 3px;
    font-size: 14px;
    margin-right: -6px;
    padding: 16px 19px;
  }

  &__input::placeholder {
    color: rgba(62, 61, 61, 0.5);
  }

  &__button {
    background: $blue;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: 'Avenir', sans-serif;
    padding: 16.5px 24.5px;
  }

}

@media screen and (max-width: 1050px) {

  .header {

    .container {
      height: 1000px;
    }

    &__title {
      max-width: 520px;
    }

    &__text {
      font-size: 24px;
      line-height: 40px;
      max-width: 640px;
      width: 100%;
    }

    &__background-image {
      width: 342px;
    }
    
    &__background-image:first-child {
      width: 450px;
    }

  }

}

@media screen and (max-width: 650px) {

  .header {

    .container {
      height: 700px;
    }

    &__logo-container {
      margin-left: 20px;
    }

    &__title {
      font-size: 40px;
      margin-top: 50px;
      padding: 0 20px;
    }

    &__text {
      font-size: 20px;
      line-height: normal;
      max-width: 450px;
      margin-top: 10px;
      padding: 0 20px;
    }

    &__background-image {
      width: 190px;
    }
    
    &__background-image:first-child {
      width: 250px;
    }

    &__image-right-bottom {
      bottom: -50px;
      width: 300px;
    }

    &__image {
      bottom: 40px;
    }

  }

  .description__text {
    font-size: 16px;
    line-height: 25px;
    margin: 45px 0;
  }

}

@media screen and (max-width: 400px) {

  .header {

    .container {
      height: 650px;
    }

    &__logo-container {
      margin-left: 20px;
    }

    &__title {
      font-size: 30px;
      max-width: 280px;
      padding: 0 20px;
    }

    &__text {
      font-size: 18px;
    }

    &__image {
      width: 100%;
    }

  }

  .description__title,
  .description__text {
    padding: 0 10px;
  }

}